Repository The-Ronin-Project/interop-common: changes, and which Codecov flags are due for each by the changed paths.
All: common, http, jackson, ktorm, test-db

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      common:
        target: auto
        threshold: 1%
        flags:
          - common
      http:
        target: auto
        threshold: 1%
        flags:
          - http
      jackson:
        target: auto
        threshold: 1%
        flags:
          - jackson
      ktorm:
        target: auto
        threshold: 1%
        flags:
          - ktorm
      test-db:
        target: auto
        threshold: 1%
        flags:
          - test-db

    patch:
      common:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - common
      http:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - http
      jackson:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - jackson
      ktorm:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - ktorm
      test-db:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - test-db

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  common:
    paths:
      - interop-common/
    carryforward: true
  http:
    paths:
      - interop-common-http/
    carryforward: true
  jackson:
    paths:
      - interop-common-jackson/
    carryforward: true
  ktorm:
    paths:
      - interop-common-ktorm/
    carryforward: true
  test-db:
    paths:
      - interop-common-test-db/
    carryforward: true

[INT-2256] Changes to better support spring (#193)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/auth/AuthenticationConfig.kt
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/auth/AuthenticationSpringConfig.kt
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/auth/InteropAuthenticationService.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/auth/AuthenticationConfigTest.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/auth/InteropAuthenticationServiceTest.kt
Due: http

INT-2309: Move to SonarQube and single unit test GHA (#195)
  .github/workflows/common_test.yml
  .github/workflows/http_test.yml
  .github/workflows/jackson_test.yml
  .github/workflows/ktorm_test.yml
  .github/workflows/test.yml
  .github/workflows/test_db_test.yml
  build.gradle.kts
  codecov.yml
  gradle/libs.versions.toml
Due: none

Update to use basic-gradle-build-publish action (#197)
  .github/workflows/test.yml
Due: none

INT-2362: Add William and update GHA runners (#198)
  .github/workflows/create_release.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test.yml
  .github/workflows/verify_mergeable.yml
  CODEOWNERS
Due: none

[INT-2361] Install HttpTimeout in our default http client (#199)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfig.kt
Due: http

INT-2405: Upgrade to JDK 17 (#206)
  .github/workflows/create_release.yml
  gradle/libs.versions.toml
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/auth/AuthenticationConfig.kt
Due: http

Int 2404 move auth retry to http client util (#207)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/HttpClientUtil.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/HttpClientUtilTest.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/auth/BrokeredAuthenticator.kt
Due: common, http

[INT-2588] Don't log out Auth headers (#224)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfig.kt
Due: http
