Repository The-Ronin-Project/interop-common: changes, and which Codecov flags are due for each by the changed paths.
All: jackson, test-db

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      jackson:
        target: auto
        threshold: 1%
        flags:
          - jackson
      test-db:
        target: auto
        threshold: 1%
        flags:
          - test-db

    patch:
      jackson:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - jackson
      test-db:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - test-db

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  jackson:
    paths:
      - interop-common-jackson/
    carryforward: true
  test-db:
    paths:
      - interop-common-test-db/
    carryforward: true

INT-275: Add Authentication to standardize across projects (#3)
  interop-common/src/main/kotlin/com/projectronin/interop/common/auth/Authentication.kt
Due: none

INT-280: Uplift to Gradle 7.2 and reorder plugin repos (#4)
  .github/workflows/lint.yml
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Due: none

INT-296: Add FileLoader for loading files across classpath and file (#5)
  .github/workflows/common_test.yml
  .github/workflows/jackson_test.yml
  codecov.yml
  interop-common/interop-common.gradle.kts
  interop-common/src/main/kotlin/com/projectronin/interop/common/file/FileLoader.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/file/FileLoaderTest.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/resource/ResourceTypeTest.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/vendor/VendorTypeTest.kt
  interop-common/src/test/resources/Sample1.txt
  interop-common/src/test/resources/nested/Sample2.txt
Due: none

Add Condition to resource type (#6)
  interop-common/src/main/kotlin/com/projectronin/interop/common/resource/ResourceType.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/resource/ResourceTypeTest.kt
Due: none

INT-296: Add more comprehensive support for loading files (#7)
  interop-common/src/main/kotlin/com/projectronin/interop/common/file/FileLoader.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/file/FileLoaderTest.kt
Due: none

INT-333: Add CODEOWNERS (#8)
  CODEOWNERS
Due: none

INT-363: Use axion-release for versions (#9)
  CODEOWNERS
  build.gradle.kts
  gradle.properties
  settings.gradle.kts
Due: none

INT-379 adding VendorIdentifierNotFoundException (#10)
  interop-common/src/main/kotlin/com/projectronin/interop/common/exceptions/VendorIdentifierNotFoundException.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/exception/VendorIdentifierNotFoundExceptionTest.kt
Due: none

INT-386: Put common @Spring config for HTTP Clients into interop-common. (#11)
  interop-common/interop-common.gradle.kts
  interop-common/src/main/kotlin/com/projectronin/interop/common/spring/BaseSpringConfig.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/spring/BaseSpringConfigTest.kt
Due: none

INT-367: Move to Nexus (#12)
  .github/workflows/common_test.yml
  .github/workflows/jackson_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test_db_test.yml
  interop-common-test-db/interop-common-test-db.gradle.kts
  settings.gradle.kts
Due: test-db

Ensure Testcontainers uses ronin docker repo (#13)
  .github/workflows/common_test.yml
  .github/workflows/jackson_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test_db_test.yml
  interop-common-test-db/src/main/kotlin/com/projectronin/interop/common/test/database/liquibase/LiquibaseTest.kt
  interop-common-test-db/src/main/resources/testcontainers.properties
  interop-common-test-db/src/test/kotlin/com/projectronin/interop/common/test/database/ktorm/KtormHelperNonDefaultTest.kt
Due: test-db

ResourceType LOCATION (#14)
  interop-common/src/main/kotlin/com/projectronin/interop/common/resource/ResourceType.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/resource/ResourceTypeTest.kt
Due: none

INT-441: Upgrade to JDK 17 and Gradle 7.4.1 (#16)
  .github/workflows/common_test.yml
  .github/workflows/jackson_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test_db_test.yml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

Int 399 define rest models and api for tenant inputs and responses (#17)
  interop-common-jackson/src/main/kotlin/com/projectronin/interop/common/jackson/JacksonManager.kt
  interop-common-jackson/src/test/kotlin/com/projectronin/interop/common/jackson/JacksonManagerTest.kt
Due: jackson

INT-466: Add release workflow (#18)
  .github/workflows/create_release.yml
Due: none

Fix some collateral damage from dependency updates (#19)
  interop-common-jackson/src/test/kotlin/com/projectronin/interop/common/jackson/JacksonManagerTest.kt
  interop-common-test-db/interop-common-test-db.gradle.kts
  interop-common-test-db/src/main/kotlin/com/projectronin/interop/common/test/database/liquibase/LiquibaseExtension.kt
  interop-common-test-db/src/test/kotlin/com/projectronin/interop/common/test/database/liquibase/LiquibaseExtensionTest.kt
Due: jackson, test-db

Add Java time module to Base HTTP client (#20)
  interop-common/interop-common.gradle.kts
  interop-common/src/main/kotlin/com/projectronin/interop/common/spring/BaseSpringConfig.kt
Due: none

INT-480: Ensure null fields are not serialized (#21)
  interop-common-jackson/src/main/kotlin/com/projectronin/interop/common/jackson/JacksonManager.kt
  interop-common-jackson/src/test/kotlin/com/projectronin/interop/common/jackson/JacksonManagerTest.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/spring/BaseSpringConfig.kt
Due: jackson

INT-531: Use Version Catalogs and add dependabot-like support (#22)
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  interop-common-test-db/interop-common-test-db.gradle.kts
  settings.gradle.kts
Due: test-db

INT-561: Prepare for release (#23)
  .github/workflows/create_release.yml
  settings.gradle.kts
Due: none

INT-561: Fix if statements in release script (#24)
  .github/workflows/create_release.yml
Due: none

INT-561: Correct snapshot publish to support post-initial release (#25)
  .github/workflows/snapshot_publish.yml
Due: none

INT-561: Include version plugin (#26)
  build.gradle.kts
  settings.gradle.kts
Due: none

INT-628: Add support for marking the next release version (#27)
  .github/workflows/mark_next_release.yml
Due: none

Int 560 uplift to ktor 2 x (#28)
  gradle/libs.versions.toml
  interop-common/interop-common.gradle.kts
  interop-common/src/main/kotlin/com/projectronin/interop/common/spring/BaseSpringConfig.kt
Due: none

Upgraded org.liquibase:liquibase-core from 4.9.1 to 4.10.0 (#29)
  gradle/libs.versions.toml
Due: none

INT-658: Remove old dependency-providing Gradle plugins (#30)
  .github/workflows/mark_next_release.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle/libs.versions.toml
  interop-common-jackson/interop-common-jackson.gradle.kts
  interop-common-jackson/src/test/kotlin/com/projectronin/interop/common/jackson/JacksonManagerTest.kt
  interop-common-test-db/interop-common-test-db.gradle.kts
  interop-common/interop-common.gradle.kts
  settings.gradle.kts
Due: jackson, test-db

INT-676: Add interceptor to ensure Content-Length header is set (#32)
  gradle/libs.versions.toml
  interop-common/interop-common.gradle.kts
  interop-common/src/main/kotlin/com/projectronin/interop/common/spring/BaseSpringConfig.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/spring/ContentLengthSupplier.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/spring/ContentLengthSupplierTest.kt
Due: none

INT-685: Improve ContentLengthSupplier to prevent hanging (#36)
  interop-common/src/main/kotlin/com/projectronin/interop/common/spring/ContentLengthSupplier.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/spring/ContentLengthSupplierTest.kt
Due: none

INT-659: Pull HTTP assets out of common and into their own module (#37)
  .github/workflows/http_test.yml
  README.md
  codecov.yml
  interop-common-http/README.md
  interop-common-http/interop-common-http.gradle.kts
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/ktor/ContentLengthSupplier.kt
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfig.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/ktor/ContentLengthSupplierTest.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfigTest.kt
  interop-common-jackson/src/main/kotlin/com/projectronin/interop/common/jackson/JacksonManager.kt
  interop-common/interop-common.gradle.kts
  interop-common/src/test/kotlin/com/projectronin/interop/common/spring/BaseSpringConfigTest.kt
  settings.gradle.kts
Due: jackson

add hl7 events to queue (#39)
  interop-common/src/main/kotlin/com/projectronin/interop/common/hl7/EventType.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/hl7/MessageType.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/hl7/EventTypeTest.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/hl7/MessageTypeTest.kt
Due: none

move second object mapper to common repo (#42)
  interop-common-jackson/src/main/kotlin/com/projectronin/interop/common/jackson/JacksonManager.kt
  interop-common-jackson/src/test/kotlin/com/projectronin/interop/common/jackson/JacksonManagerTest.kt
Due: jackson

Add observation (#45)
  interop-common/src/main/kotlin/com/projectronin/interop/common/resource/ResourceType.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/resource/ResourceTypeTest.kt
Due: none

INT-802 Tenant Specific Server Information (#52)
  interop-common/src/main/kotlin/com/projectronin/interop/common/hl7/ProcessingID.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/hl7/ProcessingIDTest.kt
Due: none

update PR Template (#53)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Int 866 introduce data dog marker for app orchard sandbox being down and configure data dog (#55)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfig.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/exceptions/ServiceUnavailableException.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/logmarkers/LogMarkers.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/logmarkers/ThrowableExtension.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/exceptions/ServiceUnavailableExceptionTest.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/exceptions/VendorIdentifierNotFoundExceptionTest.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/logmarkers/LogMarkersTest.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/logmarkers/ThrowableExtensionTest.kt
Due: none

[INT-976] Add a standard function to handle not-ok http statuses (#61)
  interop-common-http/interop-common-http.gradle.kts
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/HttpResponseUtil.kt
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/exceptions/HttpExceptions.kt
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/ktor/ContentLengthSupplier.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/HttpResponseUtilTest.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/exceptions/HttpExceptionsTest.kt
  interop-common/interop-common.gradle.kts
  interop-common/src/main/kotlin/com/projectronin/interop/common/exceptions/LogMarkingException.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/exceptions/ServiceUnavailableException.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/logmarkers/LogMarkers.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/logmarkers/ThrowableExtension.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/exceptions/ServiceUnavailableExceptionTest.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/logmarkers/LogMarkersTest.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/logmarkers/ThrowableExtensionTest.kt
Due: none

create common exceptions for DAO errors (#63)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/HttpResponseUtil.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/HttpResponseUtilTest.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/exceptions/DAOExceptions.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/logmarkers/LogMarkers.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/exceptions/DAOExceptionsTest.kt
  settings.gradle.kts
Due: none

[INT-1014] move utils to common (#73)
  interop-common-jackson/src/main/kotlin/com/projectronin/interop/common/jackson/JacksonUtil.kt
  interop-common-jackson/src/test/kotlin/com/projectronin/interop/common/jackson/JacksonUtilTest.kt
Due: jackson

INT-1105: Switch to OkHttp engine for improved tracibility (#79)
  gradle/libs.versions.toml
  interop-common-http/interop-common-http.gradle.kts
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfig.kt
Due: none
