Repository The-Ronin-Project/interop-common: changes, and which Codecov flags are due for each by the changed paths.
All: common, jackson, test-db

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      common:
        target: auto
        threshold: 1%
        flags:
          - common
      jackson:
        target: auto
        threshold: 1%
        flags:
          - jackson
      test-db:
        target: auto
        threshold: 1%
        flags:
          - test-db

    patch:
      common:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - common
      jackson:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - jackson
      test-db:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - test-db

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  common:
    paths:
      - interop-common/
    carryforward: true
  jackson:
    paths:
      - interop-common-jackson/
    carryforward: true
  test-db:
    paths:
      - interop-common-test-db/
    carryforward: true

INT-1093: Add simplified authentication broker functionality (#78)
  interop-common/src/main/kotlin/com/projectronin/interop/common/auth/BrokeredAuthenticator.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/auth/BrokeredAuthenticatorTest.kt
Due: common

Cleaning up dependencies to improve downstream builds (#80)
  interop-common-http/interop-common-http.gradle.kts
  interop-common-jackson/interop-common-jackson.gradle.kts
  interop-common-test-db/interop-common-test-db.gradle.kts
  interop-common/interop-common.gradle.kts
Due: common, jackson, test-db

Upgrade gradle plugin versions (#82)
  settings.gradle.kts
Due: none

Update to 2.1.2 of interop-gradle plugins (#84)
  settings.gradle.kts
Due: none

INT-1153: Upgrade gradle plugins (#86)
  settings.gradle.kts
Due: none

INT-1153: Upgrade to gradle plugins 2.1.4 (#87)
  settings.gradle.kts
Due: none

INT-1239: Repo maintenance (#95)
  .github/workflows/upgrade_dependencies.yml
  CODEOWNERS
Due: none

INT-1221: Upgrade to interop-gradle 2.2.0 (#96)
  settings.gradle.kts
Due: none

INT-1262: Add retry logic to HttpClient (#101)
  gradle/libs.versions.toml
  interop-common-http/interop-common-http.gradle.kts
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfig.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfigTest.kt
  settings.gradle.kts
Due: none

INT-1279: Add wrapper for common handling of HttpClient requests (#103)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/HttpClientUtil.kt
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/exceptions/RequestFailureException.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/HttpClientUtilTest.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/logmarkers/LogMarkers.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/logmarkers/LogMarkersTest.kt
Due: common

INT-1249 Adding Cerner vendor type for Cerner module (#104)
  interop-common/src/main/kotlin/com/projectronin/interop/common/vendor/VendorType.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/vendor/VendorTypeTest.kt
Due: common

INT-1286: GHA to block PR merge when snapshots present (#106)
  verify_mergeable.yml
Due: none

INT-1380: Upload JUnit results to DataDog (#111)
  .github/workflows/common_test.yml
  .github/workflows/http_test.yml
  .github/workflows/jackson_test.yml
  .github/workflows/test_db_test.yml
  CODEOWNERS
  gradle/libs.versions.toml
  interop-common-test-db/interop-common-test-db.gradle.kts
Due: test-db

INT-1396: Add Reflection based copy function to common (#113)
  interop-common/src/main/kotlin/com/projectronin/interop/common/reflect/ReflectionUtils.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/reflect/ReflectionUtilsTest.kt
Due: common

INT-1420: Introduces common FhirJson ContentType (#121)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/ContentTypesUtil.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/ContentTypesUtilTest.kt
Due: none

Update PULL_REQUEST_TEMPLATE.md (#122)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Use the better PR links from interop-validation (#124)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add EXCLUDE_FROM_GENERAL_ALERTS to AUTHORIZATION log marker (#123)
  interop-common/src/main/kotlin/com/projectronin/interop/common/logmarkers/LogMarkers.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/logmarkers/LogMarkersTest.kt
Due: common

Update GHAs for move to main (#125)
  .github/workflows/common_test.yml
  .github/workflows/create_release.yml
  .github/workflows/http_test.yml
  .github/workflows/jackson_test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test_db_test.yml
  .github/workflows/upgrade_dependencies.yml
Due: none

INT-1447: Simplify release options (#126)
  .github/workflows/create_release.yml
  .github/workflows/mark_next_release.yml
Due: none

[INT-1159] Add some more resource types to the common enum (#127)
  interop-common/src/main/kotlin/com/projectronin/interop/common/resource/ResourceType.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/resource/ResourceTypeTest.kt
Due: common

[INT-1512] Upgrade gradle (#132)
  gradle/wrapper/gradle-wrapper.properties
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/exceptions/HttpExceptions.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/exceptions/HttpExceptionsTest.kt
  interop-common-jackson/src/test/kotlin/com/projectronin/interop/common/jackson/JacksonUtilTest.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/resource/ResourceType.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/logmarkers/ThrowableExtensionTest.kt
  settings.gradle.kts
Due: common, jackson

INT-1579: Add ktorm project for common helpers (#134)
  .github/workflows/ktorm_test.yml
  codecov.yml
  gradle/libs.versions.toml
  interop-common-ktorm/README.md
  interop-common-ktorm/interop-common-ktorm.gradle.kts
  interop-common-ktorm/src/main/kotlin/com/projectronin/interop/common/ktorm/binding/BinaryUUID.kt
  interop-common-ktorm/src/main/kotlin/com/projectronin/interop/common/ktorm/binding/UTCDateTime.kt
  interop-common-ktorm/src/test/kotlin/com/projectronin/interop/common/ktorm/binding/BinaryUUIDTest.kt
  interop-common-ktorm/src/test/kotlin/com/projectronin/interop/common/ktorm/binding/UTCDateTimeTest.kt
  settings.gradle.kts
Due: none

add MDMT08 to supported HL7 message event types (#136)
  interop-common/src/main/kotlin/com/projectronin/interop/common/hl7/EventType.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/hl7/EventTypeTest.kt
Due: common

INT-1777: Introduce exception and log marker for illegal arguments (#150)
  interop-common/src/main/kotlin/com/projectronin/interop/common/exceptions/InteropIllegalArgumentException.kt
  interop-common/src/main/kotlin/com/projectronin/interop/common/logmarkers/LogMarkers.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/exceptions/InteropIllegalArgumentExceptionTest.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/logmarkers/LogMarkersTest.kt
Due: common

INT-1822: Expose status on HttpExceptions (#154)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/exceptions/HttpExceptions.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/exceptions/HttpExceptionsTest.kt
Due: none

INT-1826: Add support for disabling retry logic (#155)
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/RetryUtil.kt
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfig.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/RetryUtilTest.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/spring/HttpSpringConfigTest.kt
Due: none

INT-1831: validation issue logmarker added (#158)
  interop-common/src/main/kotlin/com/projectronin/interop/common/logmarkers/LogMarkers.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/logmarkers/LogMarkersTest.kt
Due: common

INT-1900: Update to version catalog versions (#165)
  .github/workflows/upgrade_dependencies.yml
  .github/workflows/verify_mergeable.yml
  CODEOWNERS
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  interop-common-http/interop-common-http.gradle.kts
  interop-common-jackson/interop-common-jackson.gradle.kts
  interop-common-ktorm/interop-common-ktorm.gradle.kts
  interop-common-test-db/interop-common-test-db.gradle.kts
  interop-common/interop-common.gradle.kts
  settings.gradle.kts
Due: common, jackson, test-db

Add missing Version Catalog Update plugin (#166)
  build.gradle.kts
  gradle/libs.versions.toml
Due: none

QUAL-1434: remove devex from owning .github files (#167)
  CODEOWNERS
Due: none

INT-2012: Add Map helpers (#171)
  interop-common/src/main/kotlin/com/projectronin/interop/common/collection/MapUtil.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/collection/MapUtilTest.kt
Due: common

Run dependency upgrades on Saturday and Wednesday (#170)
  .github/workflows/upgrade_dependencies.yml
Due: none

INT-1981 Added list utility to associateWith to return map with non-n… (#173)
  interop-common/src/main/kotlin/com/projectronin/interop/common/collection/ListUtil.kt
  interop-common/src/test/kotlin/com/projectronin/interop/common/collection/ListUtilTest.kt
Due: common

[INT-2142] Add some helper functions and a base DAO (#181)
  interop-common-ktorm/interop-common-ktorm.gradle.kts
  interop-common-ktorm/src/main/kotlin/com/projectronin/interop/common/ktorm/DatabaseUtils.kt
  interop-common-ktorm/src/main/kotlin/com/projectronin/interop/common/ktorm/dao/BaseInteropDAO.kt
  interop-common-ktorm/src/test/kotlin/com/projectronin/interop/common/ktorm/DatabaseUtilsTest.kt
  interop-common-ktorm/src/test/kotlin/com/projectronin/interop/common/ktorm/dao/BaseInteropDAOTest.kt
  interop-common-ktorm/src/test/resources/dbunit/Tables.yaml
  interop-common-ktorm/src/test/resources/liquibase/test-database.yaml
Due: none

[INT-2144] Make BaseInteropDAO spring compatible (#185)
  interop-common-ktorm/src/main/kotlin/com/projectronin/interop/common/ktorm/dao/BaseInteropDAO.kt
Due: none

INT-2254: Ensure JSON uses exact BigDecimal (#186)
  interop-common-jackson/src/main/kotlin/com/projectronin/interop/common/jackson/JacksonManager.kt
  interop-common-jackson/src/test/kotlin/com/projectronin/interop/common/jackson/JacksonManagerTest.kt
Due: jackson

[INT-2239] Add shared authentication service (#188)
  build.gradle.kts
  gradle/libs.versions.toml
  interop-common-http/interop-common-http.gradle.kts
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/auth/AuthenticationSpringConfig.kt
  interop-common-http/src/main/kotlin/com/projectronin/interop/common/http/auth/InteropAuthenticationService.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/auth/AuthenticationSpringConfigTest.kt
  interop-common-http/src/test/kotlin/com/projectronin/interop/common/http/auth/InteropAuthenticationServiceTest.kt
Due: none

revert accidentally removing plugin (#190)
  interop-common-http/interop-common-http.gradle.kts
Due: none

revert a different change (#191)
  gradle/libs.versions.toml
Due: none
